{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2><i>Watchlist</i></h2>

    {% for listing, bid in listings_and_bids %}
    
        <a href="{% url 'listing_page' listing.title listing.id %}">
            <div class="listing-container">
                <div class="row">
                    <div class="col">
                        <h4 class="listing-title">
                            {{ listing.title }}
                        </h4>
                    </div>
                    <div class="col" style="text-align:right;">
                        {% if listing.category %}
                            <div style="color:rgb(70, 67, 67);">
                                Category: {{ listing.category }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if listing.image %}
                    <img src="{{ listing.image }}" alt="{{ listing.title }}-image" style="width:30%; height:auto">
                {% endif %}
                <div>
                    {{ listing.description }}
                </div>
                <div>
                    Current Bid: <b>${{ bid|intcomma }}</b>
                </div>
            </div>
        </a>
        <hr>
    {% empty %}
        <i>No listings on watchlist</i>
    {% endfor %}
{% endblock %}